<div class="container">
  <div class="div-content">
    <div class="div-heading">
      <div class="heading">
        Lenz's Law
      </div>
      <div class="sub-heading">
        A visualisation attempt by Rishabh Kumar
      </div>
    </div>
    <div class="description">
      Lenz's law, in electromagnetism, statement that an induced electric current flows in a direction such that the
      current opposes the change that induced it. This law was deduced in 1834 by the Russian physicist Heinrich
      Friedrich Emil Lenz (1804-65).
    </div>
    <div class="div-formula">
      <div class="description short">
        Lenz's law is contained in the rigorous treatment of Faraday's law of induction (the magnitude of EMF induced in
        a coil is proportional to the rate of change of the magnetic field), where it finds expression by the negative
        sign:
      </div>
      <div class="img-formula"></div>
    </div>
    <div class="div-controller">
      <div class="head">
        <div class="desc">
          Number of turns in coil:
        </div>
        <div class="num-coils">{{num_coils}}</div>
      </div>
      <div class="div-slider">
        <div class="slider-num left">
          1
        </div>
        <div class="slider">
          <input [(ngModel)]="num_coils" type="range" min="1" max="25" value="13">
        </div>
        <div class="slider-num right">
          25
        </div>
      </div>
    </div>
  </div>
  <div class="div-experiment" style="margin-bottom: 10%;">
    <div class="div-background">
      <div class="magnet" id="dragger"></div>
      <div class="wire left"></div>
      <div class="wire right"></div>
      <div id="arrow1" class="arrow a-left"></div>
      <div id="arrow2" class="arrow a-right"></div>
      <div class="bulb"></div>
      <div id="current" class="ammeter"></div>
    </div>
    <div [style.width.vw]="num_coils" class="coil"></div>
  </div>
</div>