@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .div-content{
        width: 40vw;

        .div-heading{
            padding-top: 3vw;
            padding-bottom: 3vw;
            font-family: Chivo;

            .heading {
                font-size: 7vw;
                font-weight: 900;
                text-align: left;
            }
            .sub-heading {
                text-align: end;
                font-style: italic;
                margin-top: -1vw;
                margin-right: 3vw;
            }
        }
        .description {
            margin-bottom: 3vw;
            font-family: Chivo;
            font-size: 1vw;
        }
        .short {
            width: 70%;
        }
        .img-formula {
            position: absolute;
            background-image: url("../assets/Equationimage.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 11vw;
            height: 7vw;
            left: 60vw;
            top: 22vw;
        }
        .div-controller {

            .head {
                display: flex;
                align-items: center;

                .desc {
                    font-size: 1.5vw;
                    font-family: Chivo;
                    width: 10vw;
                }
                .num-coils {
                    font-family: Chivo;
                    font-size: 3vw;
                    font-weight: 900;
                    margin: 2vw;
                }
            }
            .div-slider {
                font-family: Chivo;
                display: flex;

            }
        }
    }
    .div-experiment {
        margin-top: 2vw;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;

        .div-background {
            position: relative;
            width: 100%;

            .div-magnet {
                position: absolute; 
                width: 50vw;
                top: -2vw;
                left: 10vw;

                .magnet {
                    position: absolute;
                    background-image: url("../assets/Magnet.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 18vw;
                    height: 10vw;
                    top: 9vw;
                    left: 16vw;
                }
            }
            .bulb {
                position: absolute;
                background-image: url("../assets/Bulb.svg");
                background-size: contain;
                width: 7vw;
                height: 7vw;
                left: 10vw;
            }
            .bulb2 {
                position: absolute;
                background-image: url("../assets/BulbYellow.svg");
                background-size: contain;
                width: 7vw;
                height: 7vw;
                left: 10vw;
            }
            .ammeter {
                position: absolute;
                background-image: url("../assets/Ammeter.svg");
                background-size: contain;
                width: 7vw;
                height: 7vw;
                top: 15vw;
                right: 10vw;
                display: flex;
                justify-content: center;
                align-items: center;

                .ammeter-reading {
                    font-family: Chivo;
                    font-size: 1.5vw;
                    padding-top: 2vw;
                    margin-top: 10vw;
                    text-align: left;
                }
                .ammeter-reading-top
                {
                    font-family: Chivo;
                    font-size: 1.5vw;
                    text-align: left;
                }
            }
            .wire {
                position: absolute;
                background-image: url("../assets/Wire.svg");
                background-size: contain;
                background-repeat: repeat-x;
                background-size: cover;
                width: 50vw;
                height: 0.7vw;
            }
            .left {
                top: 3.5vw;
                left: 0vw;
            }
            .right {
                top: 18.5vw;
                right: 0vw;
            }
            .arrow {
                position: absolute;
                margin-top: 1vw;
                background-image: url("../assets/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                width: 3vw;
                height: 3vw;
            }
            .a-left {
                top: 1.35vw;
                left: 30vw;
            }
            .a-right {
                top: 16.3vw;
                right: 30vw;
            }
        }
        .coil {
            position: relative;
            background-image: url("../assets/Coil.svg");
            height: 16.5vw;
            top: 3vw;
        }
    }

    .div-example
    {
        width: 40vw;
        padding-top: 4vw;
        .heading2
        {
            font-family: Chivo;
            font-size: 3vw;
            font-weight: 900;
            text-align: left;
            padding-bottom: 1vw;
        }
        .real-world {
            margin-bottom: 3vw;
            font-family: Chivo;
            font-size: 1vw;
        }
    }

}