<div class="container">
  <div class="div-content">
    <div class="div-heading">
      <div class="heading">
        Lenz's Law
      </div>
      <div class="sub-heading">
        A visualisation attempt by Rishabh Kumar
      </div>
    </div>
    <div class="description">
      Lenz's law, in electromagnetism, statement that an induced electric current flows in a direction such that the
      current opposes the change that induced it. This law was deduced in 1834 by the Russian physicist Heinrich
      Friedrich Emil Lenz (1804-65).
    </div>
    <div class="div-formula">
      <div class="description short">
        Lenz's law is contained in the rigorous treatment of Faraday's law of induction (the magnitude of EMF induced in
        a coil is proportional to the rate of change of the magnetic field), where it finds expression by the negative
        sign:
      </div>
      <div class="img-formula"></div>
    </div>
    <div class="description short" style="width: 40vw;">
      Thrusting a pole of a permanent bar magnet through a coil of wire, for example, induces an electric current in the coil; the current, in turn, sets up a magnetic field around the coil, making it a magnet. Lenz’s law indicates the direction of the induced current. (The direction of the induced current from Lenz’s law contributes to the minus sign in Faraday’s law of induction.) Because like magnetic poles repel each other, Lenz’s law states that when the north pole of the bar magnet is approaching the coil, the induced current flows in such a way as to make the side of the coil nearest the pole of the bar magnet itself a north pole to oppose the approaching bar magnet. Upon withdrawing the bar magnet from the coil, the induced current reverses itself, and the near side of the coil becomes a south pole to produce an attracting force on the receding bar magnet.
    </div>
    <div class="div-example" style="padding-top: 0;">
      <div class="heading2"> Test it out!</div>
    </div>
    <div class="div-controller">
      <div class="head">
        <div class="desc">
          Number of turns in coil:
        </div>
        <div id="num_coils" class="num-coils">{{num_coils}}</div>
      </div>
      <div class="div-slider">
        <div class="slider-num left">
          1
        </div>
        <div class="slider">
          <input [(ngModel)]="num_coils" type="range" min="1" max="25" value="13" >
        </div>
        <div class="slider-num right">
          25
        </div>
      </div>
    </div>
  </div>
  <div class="div-experiment" style="margin-bottom: 10%;">
    <div class="div-background">
      <div class="div-magnet" id="dragger">
      <ng-lottie class="lottieFile" height="auto" [options]="options"></ng-lottie>
      <div class="magnet"></div>
      </div>
      <div class="wire left"></div>
      <div class="wire right"></div>
      <div id="arrow1" class="arrow a-left"></div>
      <div id="arrow2" class="arrow a-right"></div>
      <div class="bulb"></div>
      <div id="bulb" class="bulb2"></div>
      <div id="ammeter" class="ammeter">
        <div class="ammeter-reading" id="current"><div class="ammeter-reading-top">Current-</div> 0uA</div>
      </div>
    </div>
    <div [style.width.vw]="num_coils" class="coil"></div>
  </div>
  <div class="div-example">
    <div class="heading2">
      References
    </div>
    <!-- <div class="real-world">
      Lenz's law is contained in the rigorous treatment of Faraday's law of induction (the magnitude of EMF induced in
      a coil is proportional to the rate of change of the magnetic field), where it finds expression by the negative
      sign:
  </div> -->
  <div class="heading2">
    Contributions and Credits
  </div>
  <div class="real-world" style="margin-left: -40px;">
    <ul>
    <li>This was done as an academic project for IDC, IIT Bombay, under the guidance of Prof. Venkatesh Rajamanickam.</li>
    <li>Thanks to Anuj Agarwal, Mechanical Dual Degree, IIT Bombay for helping me figure out the technical aspects of the simulation. </li>
    </ul>
       
</div>
  </div>
</div>

